/* This data atttribute is set by ui.busy_indicators.use() */
:where([data-shiny-busy-spinners] .recalculating) {
  position: relative;
}

[data-shiny-busy-spinners] {
  --_shiny-spinner-url: url(spinner.svg);

  .recalculating {
    &::after {
      position: absolute;
      content: "";

      /* ui.busy_indicators.spinner_options() */
      --_shiny-spinner-color: var(--shiny-spinner-color, var(--bs-primary, #007bc2));
      --_shiny-spinner-size: var(--shiny-spinner-size, 32px);
      --_shiny-spinner-delay: var(--shiny-spinner-delay, 0.5s);

      background: var(--_shiny-spinner-color);
      width: var(--_shiny-spinner-size);
      height: var(--_shiny-spinner-size);
      inset: calc(50% - var(--_shiny-spinner-size) / 2);

      mask-image: var(--shiny-spinner-url, var(--_shiny-spinner-url));
      -webkit-mask-image: var(--shiny-spinner-url, var(--_shiny-spinner-url));

      animation-name: fade-in;
      animation-duration: var(--_shiny-spinner-delay);
    }

    /*
      shiny.css puts `opacity: 0.3` on .recalculating, which unfortunately applies to
      the spinner. Undo that, but still apply (smaller) opacity to immediate children
      that aren't shiny-output-busy.
    */
    opacity: 1;
    > *:not(.recalculating) {
      opacity: 0.2;
    }

    /*
      Disable spinner on uiOutput() mainly because (for other reasons) it has
      `display:contents`, which breaks the ::after positioning.
      Note that, even if we could position it, we'd probably want to disable it
      if it has shiny-output-busy children.
    */
    &.shiny-html-output::after {
      display: none;
    }
  }
}

@mixin spinner-svg($name) {
  [data-shiny-busy-spinners="#{$name}"] {
    --_shiny-spinner-url: url("spinners/#{$name}.svg");
  }
}

@include spinner-svg("12-dots-scale-rotate");
@include spinner-svg("180-ring-with-bg");
@include spinner-svg("180-ring");
@include spinner-svg("270-ring-with-bg");
@include spinner-svg("270-ring");
@include spinner-svg("3-dots-bounce");
@include spinner-svg("3-dots-fade");
@include spinner-svg("3-dots-move");
@include spinner-svg("3-dots-rotate");
@include spinner-svg("3-dots-scale-middle");
@include spinner-svg("3-dots-scale");
@include spinner-svg("6-dots-rotate");
@include spinner-svg("6-dots-scale-middle");
@include spinner-svg("6-dots-scale");
@include spinner-svg("8-dots-rotate");
@include spinner-svg("90-ring-with-bg");
@include spinner-svg("90-ring");
@include spinner-svg("bars-fade");
@include spinner-svg("bars-rotate-fade");
@include spinner-svg("bars-scale-fade");
@include spinner-svg("bars-scale-middle");
@include spinner-svg("bars-scale");
@include spinner-svg("blocks-scale");
@include spinner-svg("blocks-shuffle-2");
@include spinner-svg("blocks-shuffle-3");
@include spinner-svg("blocks-wave");
@include spinner-svg("bouncing-ball");
@include spinner-svg("clock");
@include spinner-svg("dot-revolve");
@include spinner-svg("eclipse-half");
@include spinner-svg("eclipse");
@include spinner-svg("gooey-balls-1");
@include spinner-svg("gooey-balls-2");
@include spinner-svg("pulse-2");
@include spinner-svg("pulse-3");
@include spinner-svg("pulse-multiple");
@include spinner-svg("pulse-ring");
@include spinner-svg("pulse-rings-2");
@include spinner-svg("pulse-rings-3");
@include spinner-svg("pulse-rings-multiple");
@include spinner-svg("pulse");
@include spinner-svg("ring-resize");
@include spinner-svg("tadpole");
@include spinner-svg("wifi-fade");
@include spinner-svg("wifi");
@include spinner-svg("wind-toy");

/* Styles for the page-level pulse banner */
@mixin shiny-page-busy {
  /* ui.busy_indicators.pulse_options() */
  --_shiny-pulse-background: var(
    --shiny-pulse-background,
    linear-gradient(
      120deg,
      var(--bs-body-bg, #fff),
      var(--bs-indigo, #4b00c1),
      var(--bs-purple, #74149c),
      var(--bs-pink, #bf007f),
      var(--bs-body-bg, #fff)
    )
  );
  --_shiny-pulse-height: var(--shiny-pulse-height, 5px);
  --_shiny-pulse-speed: var(--shiny-pulse-speed, 1.85s);

  /* Color, sizing, & positioning */
  position: fixed;
  top: 0;
  left: 0;
  height: var(--_shiny-pulse-height);
  background: var(--_shiny-pulse-background);
  border-radius: 50%;
  z-index: 9999;

  /* Animation */
  animation-name: busy-page-pulse;
  animation-duration: var(--_shiny-pulse-speed);
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  content: ""; /* Used in a ::after context */
}

/*
  In spinners+pulse mode (the recommended default), show a page-level banner if the
  page is busy, but there are no shiny-output-busy elements.
*/
[data-shiny-busy-spinners][data-shiny-busy-pulse] {
  &.shiny-busy:not(:has(.recalculating))::after {
    @include shiny-page-busy;
  }
  &.shiny-not-yet-idle:not(:has(.recalculating))::after {
    @include shiny-page-busy;
  }
}

/* In pulse _only_ mode, show a page-level banner whenever shiny is busy. */
[data-shiny-busy-pulse]:not([data-shiny-busy-spinners]) {
  &.shiny-busy::after {
    @include shiny-page-busy;
  }
  &.shiny-not-yet-idle::after {
    @include shiny-page-busy;
  }
}

/* Keyframes for the fading spinner */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Keyframes for the pulsing banner */
@keyframes busy-page-pulse {
  0% {
    left: -75%;
    width: 75%;
  }
  50% {
    left: 100%;
    width: 75%;
  }
  /* Go back */
  100% {
    left: -75%;
    width: 75%;
  }
}
