.DS_Store
.Rproj.user
.Rhistory
.Rprofile
*.o
*.so
/src-i386/
/src-x86_64/
shinyapps/
README.html
.*.Rnb.cached
/_dev/

# TypeScript
/node_modules/
.cache
coverage/
madge.svg


# GHA remotes installation
.github/r-depends.rds
