S3method("$",reactvaluesreader)
S3method("$<-",shinyoutput)
S3method(as.character,shiny.tag)
S3method(format,shiny.tag)
S3method(print,shiny.tag)
S3method(reactive,"function")
S3method(reactive,default)
export(HTML)
export(a)
export(animationOptions)
export(br)
export(checkboxInput)
export(clearClients)
export(code)
export(div)
export(em)
export(h1)
export(h2)
export(h3)
export(h4)
export(h5)
export(h6)
export(headerPanel)
export(helpText)
export(htmlOutput)
export(img)
export(invalidateLater)
export(mainPanel)
export(numericInput)
export(observe)
export(p)
export(pageWithSidebar)
export(plotOutput)
export(pre)
export(radioButtons)
export(reactive)
export(reactivePlot)
export(reactivePrint)
export(reactiveTable)
export(reactiveText)
export(reactiveTimer)
export(registerClient)
export(runApp)
export(runExample)
export(selectInput)
export(shinyServer)
export(shinyUI)
export(sidebarPanel)
export(sliderInput)
export(span)
export(strong)
export(submitButton)
export(tabPanel)
export(tableOutput)
export(tabsetPanel)
export(tag)
export(tagAppendChild)
export(tagWrite)
export(tagWriteChildren)
export(tags)
export(textInput)
export(textOutput)
export(verbatimTextOutput)
