.irs--modern {
    $name: irs !default;

    $top: 25px !default;
    $bottom: 21px !default;
    $line_height: 5px !default;
    $handle_width: 12px !default;
    $handle_height: 13px !default;

    $line_color: #d1d6e0 !default;
    $bar_color: #20b426 !default;
    $handle_color_1: #e9e6e6 !default;
    $handle_color_2: white !default;
    $handle_color_3: darken($line_color, 15%) !default;
    $handle_color_4: darken($line_color, 40%) !default;
    $minmax_text_color: white !default;
    $minmax_bg_color: #d1d6e0 !default;
    $label_color_1: #20b426 !default;
    $label_color_2: white !default;
    $grid_color_1: #dedede !default;
    $grid_color_2: silver !default;



    height: 55px;

    &.irs-with-grid {
        height: 55px;
    }

    .#{$name}-line {
        top: $top;
        height: $line_height;
        background-color: $line_color;
        background: linear-gradient(to bottom, lighten($line_color, 5%) 0%, $line_color 100%);
        border: 1px solid $handle_color_3;
        border-bottom-width: 0;
        border-radius: $line_height;
    }

    .#{$name}-bar {
        top: $top;
        height: $line_height;
        background: $bar_color;
        background: linear-gradient(to bottom, $bar_color 0%, darken($bar_color, 10%) 100%);

        &--single {
            border-radius: $line_height 0 0 $line_height;
        }
    }

    .#{$name}-shadow {
        height: 1px;
        bottom: $bottom;
        background-color: fade($line_color, 50%);
    }

    .#{$name}-handle {
        top: 37px;
        width: $handle_width;
        height: $handle_height;
        border: 1px solid $handle_color_3;
        border-top-width: 0;
        box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
        border-radius: 0 0 3px 3px;

        & > i:nth-child(1) {
            position: absolute;
            display: block;
            top: -4px; left: 1px;
            width: ($handle_width - 4px);
            height: ($handle_width - 4px);
            border: 1px solid $handle_color_3;
            background: $handle_color_2;
            transform: rotate(45deg);
        }

        & > i:nth-child(2) {
            position: absolute;
            display: block;
            box-sizing: border-box;
            top: 0; left: 0;
            width: ($handle_width - 2);
            height: ($handle_height - 1);
            background: $handle_color_1;
            background: linear-gradient(to bottom, $handle_color_2 0%, $handle_color_1 100%);
            border-radius: 0 0 3px 3px;
        }

        & > i:nth-child(3) {
            position: absolute;
            display: block;
            box-sizing: border-box;
            top: 3px; left: 3px;
            width: 4px; height: 5px;
            border-left: 1px solid $handle_color_3;
            border-right: 1px solid $handle_color_3;
        }

        &.state_hover,
        &:hover {
            border-color: $handle_color_4;

            & > i:nth-child(1) {
                border-color: $handle_color_4;
            }

            & > i:nth-child(3) {
                border-color: $handle_color_4;
            }
        }
    }

    .#{$name}-min,
    .#{$name}-max {
        top: 0;
        font-size: 10px;
        line-height: 1.333;
        text-shadow: none;
        padding: 1px 5px;
        color: $minmax_text_color;
        background-color: $minmax_bg_color;
        border-radius: $line_height;
    }

    .#{$name}-from,
    .#{$name}-to,
    .#{$name}-single {
        font-size: 10px;
        line-height: 1.333;
        text-shadow: none;
        padding: 1px 5px;
        background-color: $label_color_1;
        color: $label_color_2;
        border-radius: $line_height;

        &:before {
            position: absolute;
            display: block;
            content: "";
            bottom: -6px;
            left: 50%;
            width: 0;
            height: 0;
            margin-left: -3px;
            overflow: hidden;
            border: 3px solid transparent;
            border-top-color: $label_color_1;
        }
    }

    .#{$name}-grid {
        height: 25px;

        &-pol {
            background-color: $grid_color_1;
        }

        &-text {
            bottom: -5px;
            color: $grid_color_2;
            font-size: 13px;
        }
    }
}
