html,
body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
div {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  cursor: default;
}
.buttonDirections {
  color: lightgrey;
}
#instructions,
#ended {
  /* position: relative; */
  font-weight: 200;
  color: #444;
  /* top: 20px; */
  font-size: 30px;
  text-align: center;
}
#instructions {
  z-index: 1000;
  white-space: pre-wrap;
  text-align: left;
}
#ended strong {
  font-weight: 600;
}
svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.node {
  cursor: pointer;
}
.node .tspanTime {
  font-weight: bold;
  font-size: 87%;
  user-select: none;
  transition: fill 0.75s ease;
}
.node .tspanLabel {
  font-family: "Source Code Pro", monospace;
  font-weight: normal;
  text-anchor: start;
  fill: #999;
  user-select: none;
  transition: fill 0.75s ease;
}
.node.running .tspanLabel {
  fill: black;
}
.node.changed .tspanLabel {
  fill: red;
}
.node .tspanLabel {
  white-space: pre;
}
.node path {
  fill: white;
  stroke: #999;
  stroke-width: 7.5px;
  transition: fill 0.75s ease;
}
.node.observer path {
}
.node.observable path {
}
.node.value path {
}
.node.invalidated path {
  fill: #e0e0e0;
  /*fill: url(#diagonalHatch);*/
}
.node.running path {
  fill: #61b97e;
}
.node.fixed path {
  stroke: #000;
}
#legend {
  font-size: 22px;
  position: fixed;
  bottom: 10px;
  right: 20px;
}
.color {
  display: inline-block;
  border: 1px solid #777;
  height: 14px;
  width: 14px;
}
.color.normal {
  background-color: #white;
}
.color.invalidated {
  background-color: #e0e0e0;
}
.color.running {
  background-color: #61b97e;
}
#triangle {
  fill: #ccc;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 0.5px;
}
#description {
  position: fixed;
  width: 300px;
  left: 630px;
  top: 36px;
  height: auto;
  display: none;
}
#moveButtons {
  position: fixed;
  top: 20px;
  left: 10px;
}
#filter {
  position: fixed;
  top: 20px;
  right: 10px;
  z-index: 1;
}
#timeline {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  transition: height 500ms;
}
#timeline,
#timeline * {
  cursor: pointer;
}
#timeline:hover {
  height: 32px;
}
#timeline-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 12px;
  background-color: silver;
}
#timeline-fill {
  background-color: #28a3f2;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  transition: width 250ms;
}
.timeline-tick,
.timeline-cycle,
.timeline-enterexit,
.timeline-mark {
  position: relative;
  float: left;
  /* margin-left: -2px; */ /* margin and width must be equal in size, but margin is negative */
  /* width: 2px; */
  height: 100%;
}

text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

#cy {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
}

/* h1 {
  opacity: 0.5;
  font-size: 1em;
} */
