// Inspired by BS5's sidebar nav
// https://github.com/twbs/bootstrap/blob/548be2e/site/assets/scss/_sidebar.scss#L7
// As well as
// https://chniter.github.io/bstreeview/

$body-color: $text-color !default; // BS3compat
$link-decoration: none !default;
$link-hover-decoration: underline !default;

$sidebar-collapse-icon-color: rgba($body-color, 0.5) !default;
$sidebar-collapse-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='none' stroke='#{$sidebar-collapse-icon-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/></svg>") !default;

$navtree-anchor-color: rgba($body-color, .65) !default;
$navtree-active-bg: rgba($component-active-bg, .3) !default;
$navtree-active-color: rgba($body-color, .85) !default;

.nav-navtree {

  // TODO: integrate layout with a larger sidebar layout container?
  @include media-breakpoint-up(lg) {
    position: sticky;
    top: 5rem;
    // Override collapse behaviors
    display: block !important;
    height: subtract(100vh, 7rem);
    overflow-y: auto;
  }

  li {
    // Handle both li.active (BS3) and li > a.active (BS4)
    &.active, > a.active, a:focus {
      font-weight: 600;
      background-color: $navtree-active-bg !important;
      color: $navtree-active-color;
    }
    &:not(.active) > a:not(.active):hover {
      background-color: rgba($body-color, .1);
    }

    a {
      display: inline-flex !important; // Needed for centering/transforming the collapse icon
      align-items: center !important;
      width: 100% !important;
      padding: .1875rem .5rem;
      border: $border-width solid $border-color !important;
      color: $navtree-anchor-color !important;
      text-decoration: none !important;
      i {
        padding-right: 1.25rem !important;
      }
      // Add chevron if there's a submenu
      &[data-toggle="collapse"] {
        &::before {
          width: 1.25em;
          line-height: 0; // Align in the middle
          content: escape-svg($sidebar-collapse-icon);
          @include transition(transform .35s ease);
          transform-origin: .5em 50%;
          padding-right: 1rem;
        }

        &:not(.collapsed) {
          color: $navtree-active-color;
          &::before {
            transform: rotate(90deg);
          }
        }
      }
    } // a

  } // li

} // nav
