@mixin navbar-nav() {
  .shiny-navbar-right {
    /* Make sure nav container is flexbox (they aren't in BS3) */
    display: flex !important;
    display: -webkit-flex !important;
    float: none !important;
    /* Set the 1st navbarPage(right=) item to mr-auto */
    > .nav-item-right {
      margin-left: auto !important;
      ~ .nav-item-right {
        margin-left: unset !important;
      }
    }
    /* .form-inline doesn't vertically align in BS3? */
    > .form-inline {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

/* BS4+ uses this mixin for configurable breakpoints */
@if mixin-exists("media-breakpoint-up") {
  @include media-breakpoint-up(sm) {
    @include navbar-nav();
  }
} @else {
  /* BS3 default navbar breakpoint */
  @media (min-width: 768px) {
    @include navbar-nav();
  }
}
