body.disconnected {
  background-color: #999;
  opacity: 0.5;
}

table.data {
  width: auto;
}
table.data td[align=right] {
  font-family: monospace;
  text-align: right;
}

.shiny-output-error {
  color: red;
  white-space: pre-wrap;
}
.shiny-output-error:before {
  content: 'Error: ';
  font-weight: bold;
}
.shiny-output-error-validation {
  color: #888;
}
.shiny-output-error-validation:before {
  content: '';
  font-weight: inherit;
}

.jslider {
  /* Fix jslider running into the control above it */
  margin-top: 18px;
}
.jslider-value {
  /* Remove box around jslider values on colored bg */
  background-color: transparent !important;
}

span.jslider, .selectize-control {
  width: 220px;
  max-width: 95%;
}

.recalculating {
  opacity: 0.3;
  transition: opacity 250ms ease 500ms;
  -moz-transition: opacity 250ms ease 500ms;
  -webkit-transition: opacity 250ms ease 500ms;
  -o-transition: opacity 250ms ease 500ms;
}

span.jslider {
  margin-bottom: 12px;
}
.slider-animate-container {
  text-align: right;
  margin-top: -9px;
}
.slider-animate-button {
  opacity: 0.5;
}
.slider-animate-button .pause {
  display: none;
}
.slider-animate-button.playing .pause {
  display: inline;
}
.slider-animate-button .play {
  display: inline;
}
.slider-animate-button.playing .play {
  display: none;
}

.progress.shiny-file-input-progress {
  position: relative;
  visibility: hidden;
}
.progress.shiny-file-input-progress .bar {
  overflow: hidden;
}
.progress.shiny-file-input-progress label {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 12px;
  padding: 0 6px;
}
.progress.shiny-file-input-progress .bar.bar-danger {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.shiny-progress-container {
  position: fixed;
  top: 0px;
  width: 100%;
}

.shiny-progress .progress {
  position: absolute;
  width: 100%;
  top: 0px;
  height: 3px;
  margin: 0px;
}

.shiny-progress .bar {
  opacity: 0.6;
  transition-duration: 250ms;
}

.shiny-progress .progress-text {
  position: absolute;
  right: 10px;
  height: 18px;
  width: 240px;
  background-color: #eef8ff;
  margin: 0px;
  padding: 2px 3px;
  opacity: 0.85;
}

.shiny-progress .progress-text .progress-message {
  padding: 0px 3px;
  font-weight: bold;
  font-size: 90%;
}

.shiny-progress .progress-text .progress-detail {
  padding: 0px 3px;
  font-size: 80%;
}

.crosshair {
  cursor: crosshair;
}

.well input[type="text"],
.well input[type="number"],
.well select {
  max-width: 95%;
}

/* Workaround for Qt, which doesn't use font fallbacks */
.qt pre, .qt code {
  font-family: monospace !important;
}

/* consistency with bootstrap.css for selectize.js */
.selectize-control {
  margin-bottom: 10px;
}

.shiny-frame {
  border: none;
}

.shiny-flow-layout>div {
  display: inline-block;
  vertical-align: top;
  padding-right: 12px;
}
.shiny-split-layout {
  width: 100%;
  white-space: nowrap;
}
.shiny-split-layout>div {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  overflow: auto;
}

.shiny-input-panel {
  padding: 6px 8px;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 2px;
}
