body.disconnected {
  background-color: #999;
  opacity: 0.5;
}

table.data {
  width: auto;
}
table.data td[align=right] {
  font-family: monospace;
  text-align: right;
}

.shiny-output-error {
  color: red;
}

.recalculating {
  opacity: 0.3;
  transition: opacity 250ms ease 500ms;
  -moz-transition: opacity 250ms ease 500ms;
  -webkit-transition: opacity 250ms ease 500ms;
  -o-transition: opacity 250ms ease 500ms;
}